/* :root {
    --teal: rgb(73, 163, 163);
    --dGray: rgb(190, 196, 195);
    --lGray: rgb(229, 232, 233);
}*/

.images{
    width: 480px;
    height:500px ;
    margin-top: 5%;
    object-fit: cover;
    background-image: url("../images/lauraPhotos/yogaCat1.jpg");
    background-repeat: no-repeat;
    box-shadow: 0px 0px 30px 20px black;
    margin: auto;
}

.more {
    width: 480px;
    height:500px ;
    margin-top: 5%;
    object-fit: cover;
    background-image: url("../images/lauraPhotos/yogaCat2.jpg");
    background-repeat: no-repeat;
    box-shadow: 0px 0px 30px 2px black;
}
