/* :root {
    --teal: rgb(73, 163, 163);
    --dGray: rgb(190, 196, 195);
    --lGray: rgb(229, 232, 233);
}


html {
    height: 100%;
}

body {
    text-align: center;
    background-image: url("../images/unsplash/pawel-czerwinski-vBc7xy65us8-unsplash.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

h1 {
    padding-top: 40px;
    font-family: "Bad Script", sans-serif;
    z-index: 100;
}

h3 {
    font-family: "Bad Script", sans-serif;
    z-index: 100;

}

#introPic img {
    width: 500px;
    box-shadow: 0 0 111em black;
    z-index: 90;
    margin-top: 60px;
    border-radius: 9px;
} */

/* #introPic {
    padding: 30px;
    background-color: black;
    width: min-content;
    margin: auto;
} */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    letter-spacing: 5px;
    background-image: url("../images/unsplash/pawel-czerwinski-vBc7xy65us8-unsplash.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

h1{
    font-size: 40px;
    color: transparent;
    text-align: center;
    color: white;
    font-family: "Bad Script", sans-serif;
    z-index: 100;
    font-size: 5em;
    margin: 40px auto auto auto;

}

h3 {
    font-family: "Bad Script", sans-serif;
    font-size: 1.5em;
    margin-bottom: 80px;
}


.container{
    margin: 0 auto;
    /* display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; */
}
.images{
    width: 480px;
    height:500px ;
    margin-top: 5%;
    object-fit: cover;
    background-image: url("../images/lauraPhotos/yogaCat1.jpg");
    background-repeat: no-repeat;
    box-shadow: 0px 0px 30px 20px black;
    margin: auto;
}

.more {
    width: 480px;
    height:500px ;
    margin-top: 5%;
    object-fit: cover;
    background-image: url("../images/lauraPhotos/yogaCat2.jpg");
    background-repeat: no-repeat;
    box-shadow: 0px 0px 30px 2px black;
}
