:root {
    --lGray: rgb(175, 175, 175);
    --dGray: #343a40;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

iframe {
    border: none;
    width: 60vw;
    height: 37vw;
    object-fit: scale-down;
    max-height: 380px;
    max-width: 640px;
}

body {
    text-align: center;
    background-image: url();
    background: url("../images/unsplash/pawel-czerwinski-vBc7xy65us8-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

h1 {
    font-size: 40px;
    color: transparent;
    text-align: center;
    color: white;
    font-family: "Bad Script", sans-serif;
    z-index: 100;
    font-size: 5em;
    margin: 40px auto 20px auto;
}

h3 {
    font-family: "Bad Script", sans-serif;
    font-size: 1.5em;
    margin-bottom: 80px;
}

hr {
    width: 10px;
}

.container {
    margin: 0 auto;
}

.main {
    padding: 30px;
    /* box-shadow: 0px 0px 30px 20px var(--dGray); */
    border-radius: 3px;
    background-color: var(--dGray);
    min-height: 50vh;
    margin-bottom: 100px;
    min-width: min-content;
}

.main img {
    width: 90%;
    margin: 5%;
}


/* nav bar */

.navbar {
    padding: 0px;
    align-items: center;
}

.navbar-brand {
    font-family: "Bad Script", sans-serif;
    padding: 0.5rem;
    margin-left: 10px;
}

#navbarNavDropdown {
    justify-content: space-evenly;
    padding: none;
}

#navbarNavDropdown li {
    padding: 0.5rem;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    height: 100%;
}

#navbarNavDropdown li img {
    position: absolute;
    display: none;
    height: 200px;
}

#red {
    left: 0%;
    top: -200px !important;
}

#orange {
    left: 40%;
    top: -200px !important;
}

#yellow {
    left: 0%;
    top: -210px !important;
}

#green {
    left: 0%;
    top: -205px !important;
}

#blue {
    left: 0%;
    top: -205px !important
}

#violet {
    left: 0%;
    top: -205px !important
}

.active {
    background-color: #222;
}