p {
    color: whitesmoke;
}

#happyKid {
    max-width: 600px;
}

iframe {
    margin: 30px auto 30px auto;
    border: none;
    border-radius: 3px;
}

img {
    border-radius: 3px;
}

.subjects {
    background-color: var(--lGray);
    color: #333 !important;
    padding: 10px;
    border-radius: 3px;
}

.subjects p {
    color: #333;
}

.columns {
    display: flex;
}

.columns div {
    width: 50%;
    margin-top: 12px;
}

#teens {
    max-width: 60vw;
    margin: 499px auto 299px auto;
    box-shadow: 0px 0px 30px 20px black;
    opacity: var(--scroll);
}